@font-face {
  font-family: "Estedad";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ttf/Estedad-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Estedad";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ttf/Estedad-Bold.ttf") format("truetype");
}
